*pycache*
*~
*.keys
*.scp
*.fpaths
*.flist
*.pyc
*/ipynb_checkpoints/*
/tools
!/tools/openfst-python3.patch
/recipes
!/recipes/babel_turkish_clsp
!/recipes/timit
!/recipes/wsj
!/recipes/wsj_no_punc
!/recipes/zerocost
!/recipes/xitsonga/
