*pycache*
*~
*.keys
*.scp
*.fpaths
*.flist
*.pyc
/tools/*
!/tools/openfst-python3.patch
/recipes/babel_turkish_clsp/path.sh
/recipes/babel_turkish_clsp/utils
/recipes/timit/path.sh
/recipes/wsj/path.sh
/recipes/wsj/utils
/recipes/wsj_no_punc/path.sh
/recipes/wsj_no_punc/utils
/recipes/zerocost/path.sh
/recipes/zerocost/utils
/recipes/xitsonga/*
!/recipes/xitsonga/conf
!/recipes/xitsonga/local
!/recipes/xitsonga/run.sh
!/recipes/xitsonga/setup.sh
